#!/usr/bin/env bash

# Load the parent environment
source_up

# Install the pre-commit
[ -f .git/hooks/pre-commit ] || pre-commit install

# Load dotenv file
[ -f .env ] || cp .env.example .env
dotenv .env

# shellcheck disable=SC2120,SC1090
# https://github.com/koalaman/shellcheck/wiki/SC2120
# https://github.com/koalaman/shellcheck/wiki/SC1090
# This is copy pasted from direnv docs
# @see https://github.com/direnv/direnv/wiki/Node#using-nvm-with-automatic-discovery
use_nvm()
{
  local version
  version="${1}"

  [[ "${version}" == --auto ]] && version="$(read_version_file .node-version .nvmrc)"
  [[ -z "${version}" ]] && return

  if [[ -e ~/.nvm/nvm.sh ]]; then
    source ~/.nvm/nvm.sh
    nvm use "${version}"
  elif [[ -f ~/.config/nvm/index ]]; then
    # This works with jorgebucaran/fish-nvm, a fish-specific alternative to
    # nvm. The version of Node requested must be installed before use.
    version="$(
      ruby -e $'
        version=ARGV.shift
        version=version.strip.gsub(/^v/, "").gsub(%r{lts/}, "lts|")
        match=ARGF.readlines.find { |l| l =~ /#{Regexp.escape(version)}/ }
        puts match.split(/\\t/).first if match
      ' "${version}" ~/.config/nvm/index
    )"

    [[ -z "${version}" ]] && return

    if [[ -d ~/.config/nvm/"${version}"/bin ]]; then
      PATH_add "$(cd ~/.config/nvm || exit; pwd -P)/${version}"/bin
      export NVM_BIN
      NVM_BIN=~/.config/nvm/"${version}"/bin
    fi
  fi
}

# NodeJS Setup
layout node
use_nvm
